/* Common styles */

/* Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-flex;
  align-items: center;
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-header {
  color: #2e2f42;
}

.nav-items {
  display: flex;
  gap: 40px;
}

.nav-items li:last-child {
  margin-right: 0;
}

.nav-link {
  position: relative;
  display: block;
  padding: 24px 0;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.address-menu {
  font-style: normal;
}

.contact-items {
  display: flex;
  gap: 40px;
}

.contact-link {
  display: block;
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus,
.nav-link.current {
  color: #404bbf;
}

/* Main */

/* Feature section, team section, portfolio section*/
.feature-box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  padding: 24px 100px;
  margin-bottom: 8px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
}

.feature-section,
.team-section,
.portfolio-section {
  padding: 120px 0;
}

.feature-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.feature-li {
  width: 264px;
}

.feature-title,
.team-title,
.portfolio-title {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-title {
  margin-bottom: 72px;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.team-section {
  background-color: #f4f4fd;
}

.team-title,
.team-text {
  text-align: center;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team-li {
  width: calc((100% - 24px * 3) / 4);
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-description {
  padding: 32px 0;
}

.feature-text,
.team-text,
.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-socials-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 8px 16px 0 16px;
}

.team-socials-item {
  width: 40px;
  height: 40px;
}

.team-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-link:hover,
.team-socials-link:focus {
  background-color: #404bbf;
}

.team-socials-icon {
  fill: #f4f4fd;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-li {
  width: calc((100% - 24px * 2) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-app {
  position: relative;
  overflow: hidden;
}

.portfolio-app-img-text {
  position: absolute;
  top: 0;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  color: #f4f4fd;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover .portfolio-app-img-text {
  transform: translateY(0%);
}

.portfolio-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* Footer */
.footer-menu {
  background-color: #2e2f42;
}

.container-footer {
  display: flex;
  align-items: baseline;
  padding-top: 100px;
  padding-bottom: 100px;
}

.container-footer-logo {
  margin-right: 120px;
}

footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer {
  color: #f4f4fd;
}

.footer-text {
  width: 264px;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-socials-caption,
.footer-subscribe-caption {
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-socials-list {
  display: flex;
  gap: 16px;
}

.footer-socials-item {
  width: 40px;
  height: 40px;
}

.footer-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: #31d0aa;
}

.footer-socials-icon {
  fill: #f4f4fd;
}

.container-footer-subscribe {
  margin-left: 80px;
}

.footer-subscribe-form {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-subscribe-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  color: #fff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-subscribe-input::placeholder {
  color: currentColor;
}

.footer-subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  min-width: 165px;
  padding: 8px 24px;
  color: #fff;
  background-color: #4d5ae5;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.footer-subscribe-btn-icon {
  fill: #fff;
  margin-left: 16px;
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #fff;
}

.modal-icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-caption {
  margin-bottom: 16px;
  color: #2e2f42;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.modal-form {
  margin-bottom: 8px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-field,
.field-comment {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
  fill: #4d5ae5;
}

.modal-form-comment {
  margin-bottom: 16px;
}

.field-comment {
  width: 100%;
  min-height: 120px;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.field-comment:focus {
  border-color: #4d5ae5;
}

.form-privacy {
  margin-bottom: 24px;
}

.checkbox-text {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.checkbox-span {
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.checkbox:checked + .checkbox-text > .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox-link {
  color: #4d5ae5;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.modal-btn-send {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  margin: auto;
  min-width: 169px;
  height: 56px;
  color: #fff;
  background-color: #4d5ae5;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-send:hover,
.modal-btn-send:focus {
  background-color: #404bbf;
}
